{% extends 'layouts/page.njk' %}

{% block content %}
  <h1 class="govuk-heading-xl">You cannot use this service yet</h1>

  <p class="govuk-body">Your Defra account is not on the list of users who can use Livestock Information at the moment.</p>
  <p class="govuk-body">If you think you should have access, contact the Livestock Information team.</p>
{% endblock %}
