{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">
        Livestock Information
      </span>
      <h1 class="govuk-heading-l">{{ authenticatedUser.firstName }} {{ authenticatedUser.lastName }}</h1>
      <p class="govuk-body">
        <a href="/profile" class="govuk-link">View profile and settings</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body-l">
        Livestock summary
      </p>
      {% for spoke in spokes %}
        <h2 class="govuk-heading-m">{{ spoke.species.label }} Summary</h2>
        {% if spoke.status.ok %}
          {{ spoke.status.value | safe }}
        {% else %}
          {{ govukWarningText({
            text: spoke.status.value,
            iconFallbackText: "Warning"
          }) }}
        {% endif %}
      {% else %}
        <p class="govuk-body">No livestock summaries are currently available.</p>
      {% endfor %}
    </div>
  </div>

  <p>
    <a class="govuk-link" href="{{ logoutUrl }}">Sign out</a>
  </p>
{% endblock %}
