{% extends 'layouts/page.njk' %}

{% block content %}
  {% if dashboardMessages.length %}
    <div class="govuk-notification-banner" role="region" aria-labelledby="important-title">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="important-title">Important</h2>
      </div>
      <div class="govuk-notification-banner__content">
        {% for message in dashboardMessages %}
          <p class="govuk-notification-banner__heading">
            {{ message.title }}{% if message.text %} {{ message.text }}{% endif %}
            {% if message.url %}
              <a class="govuk-notification-banner__link" href="{{ message.url }}">{{ message.linkText }}</a>
            {% endif %}
          </p>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% set holdingDetails %}
    {{ govukSummaryList({
      rows: activeHolding.summaryRows
    }) }}
  {% endset -%}

  {% set holdingAnimals %}
    {{ govukTable({
      head: [
        {
          text: "Ear tag number"
        },
        {
          text: "Date of birth"
        },
        {
          text: "Date registered"
        },
        {
          text: "Sex"
        },
        {
          text: "Breed"
        }
      ],
      rows: activeHolding.animalsOnHolding
    }) }}
  {% endset -%}

  {% set animalErrors %}
    {% if animalErrors.length %}
      {% call govukInsetText() %}
        <h2 class="govuk-heading-m">
          How to rectify animal error records
        </h2>

        <p class="govuk-body">
          Please contact BCMS for more information:
        </p>

        <ul class="govuk-list">
          <li>
            Email: <a class="govuk-link" href="#">bcmsenquiries@rpa.gov.uk</a>
          </li>
          <li>
            BCMS helpline: 0345 050 1234
          </li>
          <li>
            Helpline for cattle keepers in Wales: 0345 050 3456
          </li>
        </ul>
      {% endcall %}
    {% else %}
    <p class="govuk-body">There are no issues that require your attention.</p>
    {% endif %}
  {% endset -%}

  {% if activeHolding %}
    <span class="govuk-caption-l">
      CPH number:
      <a class="govuk-link" href="{{ activeHolding.animalsUrl }}">{{ activeHolding.id }}</a>
    </span>
    <h1 class="govuk-heading-l">{{ activeHolding.name }}</h1>

    {{ govukTabs({
      items: [
        {
          label: "Holding details",
          id: "details",
          panel: {
            html: holdingDetails
          }
        },
        {
          label: "Animals on holding",
          id: "animal-on-holding",
          panel: {
            html: holdingAnimals
          }
        },
        {
          label: "Animal error record",
          id: "animal-error",
          panel: {
            html: animalErrors
          }
        }
      ]
    }) }}
  {% else %}
    <h1 class="govuk-heading-l">Your holding</h1>
    <p class="govuk-body">No holding details are currently available.</p>
  {% endif %}

  <p class="govuk-!-margin-top-8">
    <a class="govuk-link" href="{{ logoutUrl }}">Sign out</a>
  </p>
{% endblock %}
