{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ heading }}
      </h1>

      <p>Use this service to manage the following species:</p>
      <ul class="govuk-list govuk-list--bullet">
        {% for species in supportedSpecies %}
          <li>{{ species.label }}</li>
        {% endfor %}
      </ul>

      {{ govukButton({
        text: "Start now",
        href: loginUrl,
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        If you're using the service for the first time, you can choose to create an account.
        You can also call the Livestock Information helpline to use the service without an account.
      </p>

      <p>
        You'll need to already be <a href="#" class="govuk-link">registered with the Animal and Plant Health Agency (APHA) and have a flock or herd mark.</a>
      </p>

      <p>
        You'll need:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your county parish holding (CPH) number</li>
        <li>the email address you used to register your CPH number</li>
      </ul>

      <h2 class="govuk-heading-m">
        Get help
      </h2>

      <p>
        Contact the Livestock Information helpline.
      </p>
      <p>
        Livestock Information Helpline<br>
        email@rpa.gov.uk<br>
        0345 050 1234<br>
        Monday to Friday, 8:30am to <br>
        Find out about call charges
      </p>
    </div>
    <div class="govuk-grid-column-one-third"></div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">DEV: Supported spokes</h2>
        <ul class="govuk-list govuk-list--bullet" data-testid="supported-spoke-registry">
          {% for spoke in supportedSpokes %}
            <li><pre>{{ spoke.id }}</pre></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
